<nav class="navbar navbar-expand-lg navbar-light fixed-top flex-md-nowrap shadow  py-0">
  <a class="navbar-brand col-sm-2 col-md-1 mr-0" href="/">
    <img src="assets/logo-old.png" alt="Xema" width="45" class="d-block mx-auto">
  </a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <app-nav-topbar></app-nav-topbar>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <main role="main" class="col-md-11 ml-sm-auto col-lg-11 pl-0">
      <div class="justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>
</div>
