<ul class="navbar-nav mr-auto ml-2 ullist">
</ul>

<div class="text-right position-absolute break signout">
  <button *ngIf="breakState.bsCode === 0" mat-raised-button color="warn" (click)="askBreak()">Break</button>
  <button *ngIf="breakState.bsCode === 1" mat-raised-button color="warn" (click)="cancelBreak()">Cancel Break</button>
  <button *ngIf="breakState.bsCode === 2" mat-raised-button color="accent" (click)="exitBreak()">Resume</button>
</div>

<a class="nav-link btn btn-sm btn-outline-secondary text-white signout position-absolute" href="" (click)="Logoff()">
  Logout </a>
